.bg-gradient-primary {
    background-color: #4F534C;
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(10%, #4F534C),to(#4F534C));
    background-image: linear-gradient(180deg,#4F534C 10%,#4F534C 100%);
    background-size: cover;
}

.sidebar .nav-item.active i {
    color: #4F534C!important;
}

.sidebar .nav-item.active span {
    color: #4F534C!important;
}

.sidebar .nav-item.active i:hover {
    color: #4F534C!important;
}

.sidebar .nav-item.active span:hover {
    color: #4F534C!important;
}

.btn-primary {
    color: #fff!important;
    background-color: #4F534C!important;
    border-color: #4F534C!important;
}

.btn-primary:hover {
    color: #fff!important;
    background-color: #4F534C!important;
    border-color: #4F534C!important;
}

.btn-primary:active {
    color: #fff!important;
    background-color: #4F534C!important;
    border-color: #4F534C!important;
}

.btn-primary:visited {
    color: #fff!important;
    background-color: #4F534C!important;
    border-color: #4F534C!important;
}

.btn-primary:focus {
    color: #fff!important;
    background-color: #4F534C!important;
    border-color: #4F534C!important;
}

.btn-outline-primary {
    color: #4F534C!important;
    border-color: #4F534C!important;
}

.btn-outline-primary:hover {
    color: #fff!important;
    background-color: #4F534C!important;
    border-color: #4F534C!important;
}

.btn-outline-primary:active, .btn-outline-primary.active {
    color: #fff!important;
    background-color: #4F534C!important;
    border-color: #4F534C!important;
}

.btn-outline-primary:visited {
    color: #fff!important;
    background-color: #4F534C!important;
    border-color: #4F534C!important;
}

.btn-outline-primary:focus {
    color: #fff!important;
    background-color: #4F534C!important;
    border-color: #4F534C!important;
}

.btn-outline-primary.focus, .btn-outline-primary:focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #4F534C!important;
}

.sidebar .nav-item.active {
    background-color: white;
    border-radius: 3rem;

}

.sidebar .nav-item.active span {
    color: #0056b3;
}

.sidebar .nav-item:hover {
    background-color: white;
    border-radius: 3rem;

    transition: all 0.5s ease;
}

.sidebar .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
}

.sidebar .nav-item:hover span {
    color: #0056b3;
}

.sidebar .nav-item a{
    text-align: right!important;
}

.sidebar .nav-item:hover i {
    color: #0056b3!important;
}

.sidebar .nav-item .nav-link {
    padding: 10px!important;
}

.sidebar-brand {
    margin-bottom: 60px!important;
}

.sidebar-brand-icon {
    margin-top: 60px!important;
}


.drop {
    width: 100%;
    height: 250px;
    border: 3px dashed #DADFE3;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    /*&:hover
     * cursor: pointer
     * background: #f5f5f5 */
}
.drop .cont {
    width: 500px;
    height: 170px;
    color: #8E99A5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    padding-top: 35px;
}
.drop .cont i {
    font-size: 200%;
    color: #8E99A5;
    position: relative;
}
.drop .cont .tit {
    font-size: 200%;
    text-transform: uppercase;
}
.drop .cont .desc {
    color: #A4AEBB;
}
.drop .cont .browse {
    margin: 10px 25%;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    background: #09f;
}
.drop input {
    width: 100%;
    height: 250px;
    cursor: pointer;
    background: red;
    opacity: 0;
    top: -175px;
    left: 0px;
    position: relative;
    z-index: 10000;
}

#list {
    width: auto;
    text-align: left;
    position: relative;
    float: left;
    top: -420px;
}
#list .thumb {
    height: 75px;
    width: auto;
    border: 1px solid #323a44;
    margin: 10px 5px 0 0;
}

#album-list {
    width: auto;
    text-align: left;
    position: relative;
    float: left;
    top: -420px;
}
#album-list .thumb {
    height: 75px;
    width: auto;
    border: 1px solid #323a44;
    margin: 10px 5px 0 0;
}

.pickr {
    position: relative;
    overflow: visible
}

.pickr * {
    box-sizing: border-box
}

.pickr .pcr-button {
    position: relative;
    height: 2em;
    width: 2em;
    padding: .5em;
    border-radius: .15em;
    cursor: pointer;
    background: transparent;
    transition: background-color .3s;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif
}

.pickr .pcr-button:before {
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: .5em;
    border-radius: .15em;
    z-index: -1
}

.pickr .pcr-button:after,
.pickr .pcr-button:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.pickr .pcr-button:after {
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" stroke="%2342445A" stroke-width="5px" stroke-linecap="round"><path d="M45,45L5,5"></path><path d="M45,5L5,45"></path></svg>') no-repeat 50%;
    background-size: 70%;
    opacity: 0
}

.pickr .pcr-button.clear:after {
    opacity: 1
}

.pickr .pcr-button.disabled {
    cursor: not-allowed
}

.pcr-app {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    box-shadow: 0 .2em 1.5em 0 rgba(0, 0, 0, .1), 0 0 1em 0 rgba(0, 0, 0, .02);
    top: 5px;
    height: 15em;
    width: 28em;
    max-width: 95vw;
    padding: .8em;
    border-radius: .1em;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s
}

.pcr-app.visible {
    visibility: visible;
    opacity: 1
}

.pcr-app .pcr-interaction {
    display: flex;
    align-items: center;
    margin: 1em -.2em 0
}

.pcr-app .pcr-interaction>* {
    margin: 0 .2em
}

.pcr-app .pcr-interaction input {
    padding: .5em .6em;
    border: none;
    outline: none;
    letter-spacing: .07em;
    font-size: .75em;
    text-align: center;
    cursor: pointer;
    color: #c4c4c4;
    background: #f8f8f8;
    border-radius: .15em;
    transition: all .15s
}

.pcr-app .pcr-interaction input:hover {
    color: grey
}

.pcr-app .pcr-interaction .pcr-result {
    color: grey;
    text-align: left;
    flex-grow: 1;
    min-width: 1em;
    transition: all .2s;
    border-radius: .15em;
    background: #f8f8f8;
    cursor: text;
    padding-left: .8em
}

.pcr-app .pcr-interaction .pcr-result:focus {
    color: #4285f4
}

.pcr-app .pcr-interaction .pcr-result::selection {
    background: #4285f4;
    color: #fff
}

.pcr-app .pcr-interaction .pcr-type.active {
    color: #fff;
    background: #4285f4
}

.pcr-app .pcr-interaction .pcr-clear,
.pcr-app .pcr-interaction .pcr-save {
    color: #fff;
    width: auto
}

.pcr-app .pcr-interaction .pcr-save {
    background: #4285f4
}

.pcr-app .pcr-interaction .pcr-save:hover {
    background: #4370f4;
    color: #fff
}

.pcr-app .pcr-interaction .pcr-clear {
    background: #f44250
}

.pcr-app .pcr-interaction .pcr-clear:hover {
    background: #db3d49;
    color: #fff
}

.pcr-app .pcr-selection {
    display: flex;
    justify-content: space-between;
    flex-grow: 1
}

.pcr-app .pcr-selection .pcr-picker {
    position: absolute;
    height: 18px;
    width: 18px;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    cursor: -moz-grab;
    cursor: -webkit-grabbing
}

.pcr-app .pcr-selection .pcr-color-preview {
    position: relative;
    z-index: 1;
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.pcr-app .pcr-selection .pcr-color-preview:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: .5em;
    border-radius: .15em;
    z-index: -1
}

.pcr-app .pcr-selection .pcr-color-preview .pcr-last-color {
    cursor: pointer;
    transition: background-color .3s;
    border-radius: .15em .15em 0 0
}

.pcr-app .pcr-selection .pcr-color-preview .pcr-current-color {
    border-radius: 0 0 .15em .15em
}

.pcr-app .pcr-selection .pcr-color-preview .pcr-current-color,
.pcr-app .pcr-selection .pcr-color-preview .pcr-last-color {
    background: transparent;
    width: 100%;
    height: 50%
}

.pcr-app .pcr-selection .pcr-color-chooser,
.pcr-app .pcr-selection .pcr-color-opacity,
.pcr-app .pcr-selection .pcr-color-palette {
    position: relative;
    user-select: none;
    display: flex;
    flex-direction: column
}

.pcr-app .pcr-selection .pcr-color-palette {
    width: 80%;
    z-index: 1
}

.pcr-app .pcr-selection .pcr-color-palette .pcr-palette {
    height: 100%;
    border-radius: .15em
}

.pcr-app .pcr-selection .pcr-color-palette .pcr-palette:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: .5em;
    border-radius: .15em;
    z-index: -1
}

.pcr-app .pcr-selection .pcr-color-chooser .pcr-picker,
.pcr-app .pcr-selection .pcr-color-opacity .pcr-picker {
    left: 50%;
    transform: translateX(-50%)
}

.pcr-app .pcr-selection .pcr-color-chooser .pcr-slider,
.pcr-app .pcr-selection .pcr-color-opacity .pcr-slider {
    width: 8px;
    height: 100%;
    border-radius: 50em
}

.pcr-app .pcr-selection .pcr-color-chooser .pcr-slider {
    background: linear-gradient(180deg, red, #ff0, #0f0, #0ff, #00f, #f0f, red)
}

.pcr-app .pcr-selection .pcr-color-opacity .pcr-slider {
    background: linear-gradient(180deg, transparent, #000), url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: 100%, 50%
}



.ui-datepicker {
    background-color: #fff;
    border: 1px solid #66AFE9;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(102,175,233,.6);
    display: none;
    margin-top: 4px;
    padding: 10px;
    width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
    text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
    color: #2A6496;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
    margin-bottom: 4px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title {
    font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    cursor: default;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    line-height: 1;
    margin-top: 2px;
    width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
    float: left;
    text-align: left;
}
.ui-datepicker .ui-datepicker-next {
    float: right;
    text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
    content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
    content: "\e080";
}
.ui-datepicker .ui-icon {
    display: none;
}
.ui-datepicker .ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
    text-align: center;
    padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
    border-radius: 4px;
    -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
    background-color: #eee;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
    background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
    color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
    background-color: #fff;
    cursor: default;
}

.calendars-popup {
    z-index: 100000;
}

select{
    padding-top: 0px !important;
}
